/* Common css */
body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}
.section-title {
  color: #272727;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.section-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin: 28px 0;
}
/* Header CSS */
.header {
  /* background-color: #fff8f3; */
  background-color: rgba(229, 84, 115, 0.1);
  /* background-image: url(../images/header_bg.png); */
}
.btn-primary {
  border-radius: 5px;
  background: #e55473;
  border: 0;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding: 15px 35px;
}
.banner-content {
  max-width: 710px;
}
.banner-image {
  width: 600px;
  margin-right: 50px;
}
.banner-greeting {
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  color: #474747;
  margin-bottom: 0;
}
.banner-title {
  font-size: 85px;
  font-style: normal;
  font-weight: 700;
  color: #181818;
  margin-top: 5px;
  margin-bottom: 20px;
}
.prag {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  margin: 32px 0px;
}
.banner {
  padding: 30px 30px 0px 200px;
  /* background-color: #fff8f3; */
  align-items: center;
  /* background-image: url(../images/header_bg.png); */
  background-repeat: no-repeat;
  background-position: bottom right;
  justify-content: space-between;
  display: flex;
}
/* hot deals content */
.hot-deals {
  background: rgba(229, 84, 115, 0.05);
  height: 350px;
  padding: 160px;
  justify-content: space-between;
  display: flex;
}
.hot-deals-content {
  width: 600px;
  justify-content: center;
  margin-left: 300px;
  margin-top: 70px;
}
.btn-alignment {
  margin-left: 230px;
}
.hot-deal-image {
  margin-right: 400px;
  width: 318px;
  height: 420px;
}

/* Footer */
.footer {
  background: #000;
  height: 400px;
  text-align: center;
  font-size: 18px;
}
.footer-description {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.9);
}
.footer-title {
  color: #e55473;
  font-size: 48px;
  font-weight: 700;
  padding-top: 80px;
}
.logo-clr{
  color: #E55473;
}
.footer-all-rights{
color: rgba(255, 255, 255, 0.40);
font-size: 16px;
}